

.coverContainer
{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../assets/cover.jpg');
    background-size: cover;
    background-position: center;
    padding-right: 45%;
    flex-direction: column;
    justify-content: center;
}

.ideaContainer
{
    /* height: 100vh;  */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg);
}

.ideaContainer h2
{
    color: var(--green);
}

.ideaContainer iframe
{
    width: 90%;
    height: auto; 
    object-fit: cover;
}

.ideaContainer p, .ideaContainer ul
{
    text-align: left;
    width: 70%;
}

.progressContainer
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--green);
}

.progressContainer p
{
    color: var(--bg);
}

.progressContainer video
{
    width: 50%; 
}

.reportsContainer
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--green);
}